header{
    text-align: center; 
    background-color:#06dc8e;
    color:white;
}
body{
    text-align: center;
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
       
      
}